@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Garante que a navbar fique sobreposta a outros elementos */
}

/* Estilos personalizados para o carrossel */
.carousel-item {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center;
    transition: opacity 0.5s ease-in-out;
}

.carousel-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(52, 58, 64, 0.7); /* Cor de sobreposição semitransparente */
}

.carousel-item img {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1;
}

/* Estilos para o conteúdo centralizado */
.welcome-container {
    position: absolute;
    top: 50%; /* Centraliza verticalmente */
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff; /* Cor do texto */
    z-index: 999; /* Garante que o conteúdo fique sobreposto ao carrossel */

    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

@font-face {
    font-family: 'Monument';
    src: url('Monument\ Extended.otf') format('opentype');
}

@font-face {
    font-family: 'Monument2';
    src: url('Monument\ Extended2.otf') format('opentype');
}

#inicio {
    font-family: 'Monument';
}

#boas-vindas {
    font-family: 'Monument';
    letter-spacing: 1px;
}

.conteudo1 .texto-black p {
    font-family: "Inter", sans-serif;
}

#ImagemInicial {
    width: 100%;
    background-size: cover
}


.conteudo {
    margin-top: 80px;
    padding: 20px;
}

.texto-black {
    margin-top: 60px;
    padding: 20px;
    color: white;
}

#quem-somos {
    font-family: 'Monument';
}

#quem-somos {
    font-family: 'Monument';
}

#nossos-valores {
    font-family: 'Monument';
    color: #000000;
}


/* PARTE DOS VALORES! */

.conteudo #nossos-valores h3 {
    font-family: 'Monument';
}

/* GRAÇA */
.graca-prt {
    padding-top: 50px;
}

.graca-prt h3 {
    font-family: 'Monument2';
    color: #1c4396;
}

.graca-prt p {
    font-family: "Inter", sans-serif;
}

/* AMOR */
.amor-prt {
    padding-top: 50px;
}

.amor-prt h3 {
    font-family: 'Monument2';
    color: #ef4f22;
}

.amor-prt p {
    font-family: "Inter", sans-serif;
}


/* PAZ */
.paz-prt {
    padding-top: 50px;
    padding-bottom:60px;
}

.paz-prt h3 {
    font-family: 'Monument2';
    color: #cf1f26;
}

.paz-prt p {
    font-family: "Inter", sans-serif;
}

/* SIGNIFICADO DA ÁGUIA */
.aguia-significado h2 {
    font-family: 'Monument';
    padding-bottom: 10px;
}

.aguia-significado p {
    font-family: "Inter", sans-serif;
}

.txt-lista {
    list-style-type: decimal;
    font-family: "Inter", sans-serif;
}

.txt-lista li{
    padding-bottom: 7px;
}

.conteudo1 {
    margin-top: 0px;
    padding: 0px;
    padding-bottom: 60px;
    background-color: #0f0f0f;
    display: flex;
}

.conteudo1-1 {
    margin-top: 0px;
    padding: 0px;
    padding-bottom: 60px;
    background-color: #0f0f0f;
    display: flex;
}

/* CARDS */
#cultos {
    font-family: 'Monument';
}

.main {
    display: flex;
    justify-content: center;
}

.kard {
    margin: 50px;
    background-color: #e0e0e0;
    color: #202020;
    width: 400px;
    height: 570px;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.bto a {
    text-decoration: none;
    color: white;
}

.kard>h1 {
    font-family: 'Monument2';
    font-size: 20px;
    padding-top: 10px;
}

.kard>h2 {
    font-family: 'Monument2';
    font-size: 15px;
    padding-top: 1px;
    color: #1c4396;
}

.kard>p {
    font-size: 17px;
    padding: 10px 20px;
    font-family: "Inter", sans-serif;
}

.bto{
   font-family: 'Monument2'; 
   padding: 10px 50px;
   border: none;
   background-color: #202020;
   color: #ffffff;
   letter-spacing: 1px;
   transition: 0.5s background;
   cursor: pointer;
}

.bto:hover {
    transition: 0.5s background;
    background-color: #464646;
}

.kard>img {
    width: 100%;
    border-top-left-radius:10px ;
    border-top-right-radius: 10px;
}



#imagemLogo {
    margin-right: 20px;
    margin-left: 12px;
    max-width:800px;
    max-height:460px;
    width: auto;
    height: auto;
}

.imagemperfil01 {
    margin-right: 20px;
    margin-left: 0px;
    max-width:800px;
    max-height:600px;
    width: auto;
    height: auto;
}

#txt-laranja {
    color: #e64323;
}

.conteudo h1 {
    padding: 15px;
}

.botao-chamativo {
    padding: 30px;
    text-align: center;
}

.btn-custom-blue {
    background-color: #1b4394;
    border-color: #1b4394;
    color: #ffffff;
    transition: all 0.4s;
    
  }

  .btn-custom-blue:hover {
    background-color: #11295a;
      border-color: #11295a;
      color: #ffffff;
  }

  

  /* FOOTER */

  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

  :root {
    --color-neutral-0: #24242c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  footer {
    width: 100%;
    color: var(--color-neutral-40);
  }

  .footer-link {
    text-decoration: none;
  }

  #footer_content {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 3rem 3.5rem;
  }

  #footer_contacts h1{
    margin-bottom: 0.75rem;
  }

  #footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
  }

  #footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
  }

  #footer_social_media .footer-link i {
    font-size: 1.25rem;
  }

  #footer_social_media .footer-link:hover {
    opacity: 0.8;
  }

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#youtube {
    background-color: #ff0000;
}

#spotify {
    background-color: #32cd32;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #1b4394;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: var(--color-neutral-30);
}

#input_group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: #1b4394;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .conteudo1 {
        margin-top: 0px;
        padding: 0px;
        display: block;
    }

    #ImagemInicial {
        margin-right: 0px;
        margin-left: 0px;
        max-width:800px;
        max-height:460px;
        width: auto;
        height: auto;
    }

    .conteudo1-1 {
        display: block;
        padding-top: 0px;
    }

    .conteudo1-2 {
        margin-top: 0px;
        padding: 0px;
        background-color: #0f0f0f;
        display: flex;
    }

    .welcome-container {
        position: absolute;
        top: 40%; /* Centraliza verticalmente */
        left: 50%;
    }

    .imagemperfil01 {
        align-items: center;
        margin-right: 20px;
        margin-left: 20px;
        max-width:600px;
        max-height:450px;
        width: auto;
        height: auto;
    }

    .main {
        width: 50%;
        display: block;
        justify-content: center;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}

#c06 {
    display: flex;
    justify-content: center;
    
}

#titulo-pagina {
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

@media (min-width: 992px) {
    .full-width-card {
        width: 100%;
    }
}

#lista-valores li {
    list-style-type: none;
    padding: 10px;
}

#lista-valores li strong {
    font-size: 25px;
    text-decoration: underline;
}

#txt-graca {
    color: #1c4396;
}

#txt-amor {
    color: #ef4f22;
}

#txt-paz {
    color: #cf1f26;
}